// Colors

$brand-primary: #9356DC;
$brand-secondary: #FF79DA;
$brand-tertiary : #99E2D0;

$brand-light: #ffffff;

$brand-text: #000000;

// Screen width
$max-xxs: 359px;
$min-xs: 480px;
$max-xs: 767px;
$min-sm: 768px;
$max-sm: 991px;
$min-md: 992px;
$max-md: 1199px;
$min-lg: 1200px;
$max-lg: 1319px;
$min-hu: 1320px;