.mainHeader{
    padding: 15px 0 10px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2;
    position: relative;

    img{
        height: 30px;
    }

    &__back{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;

    }

    &__title{
        margin: 0;
        font-size: 22px;

        @extend .font-shrikhand;
    }
}