.btn{
    padding: 10px 20px; 
    border-radius: 20px;
    background: linear-gradient($brand-secondary, $brand-primary);
    text-decoration: none;
    color: $brand-light;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
}